
h1 {
    color: rgb(128, 18, 18);
    text-align: center;
    }

h2 {
    margin-left: .5em;
    }


    ul {
        background: #33e7ff;
        padding: 20px;
    
    }
    ul li {
        background: #cce5ff;
        margin: 5px;
      }

li {
    
    background: #cce5ff;
    margin: 5px;
      
    }


a:link {
    text-decoration: honeydew;
    }
    




        