
h1 {
    color: rgb(128, 18, 18);
    text-align: center;
    }

h2 {
    margin-left: .5em;
    }
p {
    font-family: verdana;
    text-align: left;
    color: rgb(0, 255, 157);
    font-size: 20px;
    
    }

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    }

li {
    
    background: #cce5ff;
    margin: 5px;
      
    }


a:link {
    text-decoration: honeydew;
    }
    


.stats {
    font-size: 1.5em;
    color: rgb(212, 124, 146);
    }

.home {
    margin: .5em;
    padding-top: 2em;
    font-size: 1.5em;
    }

    